body > header > nav > ul > li {
	display: block;
	width: 20%;
	float: right;
	font-size: 1em;
	color: white; 
	height: 100%;
	text-align: center;
	vertical-align:middle;
}
body{
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body > header > nav > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	background: black;
}
body > header > nav > ul > li > a:hover {
	color: white;
	background-color: #4b4b4b;
}
footer {
	clear: left;
	background-color: #4b4b4b;
	color:greenyellow;
	text-align:center;
	vertical-align: middle;
	height: 30px;
	font-size: 0.9em;
}
body > section > header > ul > li {
    display: block;
    width: 33%;
    float: left;
	font-size: 1.5em;
	color: white; 
	height: 100%;
	text-align: center;
	vertical-align:middle;
}
body > section > header > h1 {
    text-align: center;
}
body > P {
    color: white;
}
body > address > a {
    color: white;
}
body > address > a:hover {
    background-color: #4b4b4b;
}
